<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,700' rel='stylesheet' type='text/css'>
<div style="width: 820px; background: #fff;">
    <div style="background: #e8e8e8;">
        <div style="overflow: hidden; width: 85%; margin: 0 auto; padding: 15px 0;">
            <img src="{host}/resources/callback/images/mail/mail.png" alt="" height="150px;" style="float: left;">
            <h4 style="font-family: 'Roboto', sans-serif; float: left; font-size: 28px; margin: 20px 0 0 30px; padding: 0;">Ваше заявка <br> принята <br> в обработку </h4>
        </div>
    </div>
    <div style="background: #275ea3; padding: 15px 0;">
        <div style="width: 80%; margin: 0 auto;">
            <div style="text-align: center;">
                <img src="{host}/resources/callback/images/mail/small.png" alt="">
            </div>
            <h2 style="color: #fff; font-size: 24px; font-family: 'Roboto', sans-serif;"> {fullname} : Мы свяжимся с вами в ближайшее время <br> </h2>
            <p style="color: #fff; font-size: 18px; font-family: 'Roboto', sans-serif;"><strong>Текст сообщения:</strong> {mess}</p>
        </div>
    </div>
    <div>
        <h3 style="font-family: 'Roboto', sans-serif; text-align: center; color: #000; font-size: 18px;">Контактные данные, которые Вы оставили:</h3>
        <p style="font-family: 'Roboto', sans-serif; text-align: center; color: #000; font-size: 18px;"><a href="mailto:{email}" style="text-decoration: none; color: #000;">{email}</a></p>
        <p style="font-family: 'Roboto', sans-serif; text-align: center; color: #000; font-size: 18px;"><a href="tel:+{phone}" style="text-decoration: none; color: #000;">+{phone}</a></p>
    </div>
    <div style="padding: 15px 0; background: #000;">
        <div style="width: 85%; margin: 0 auto; text-align: center;">
            <h3 style="font-family: 'Roboto', sans-serif; font-size: 18px; color: #fff; margin: 0; padding: 0;">Сервис предоставлен <a href="https://b-link.kz">b-link.kz</a></h3>
            <h4 style="font-family: 'Roboto', sans-serif; font-size: 14px; color: #fff; margin: 0; padding: 0;">Пакеты Услуг</h4>
            <div style="width: 25%; display: inline-block; margin: 25px 20px 0 20px">
                <a href="https://b-link.kz/tariffs" onmouseover="this.style.background='#20497c';" onmouseout="this.style.background='#275ea3';" style="font-family: 'Roboto', sans-serif; display: block; background: #275ea3; padding: 5px 0; font-size: 18px; color: #fff; text-decoration: none;">Classic</a>
                <small style="font-family: 'Roboto', sans-serif; padding: 0 5px; color: #fff; font-size: 13px; margin: 10px 0 20px 0; display: block;">Стоимость: <br>от 9 900 тг./ мес.<br>Стандартные услуги: <br>Бесплатная разработка сайта и его поддержка. <br>Seo наполнение. Мониторинг работоспособности сайта, резервное коппирование.</small>
            </div>
            <div style="width: 25%; display: inline-block; margin: 25px 20px 0 20px">
                <a href="https://b-link.kz/tariffs" onmouseover="this.style.background='#20497c';" onmouseout="this.style.background='#275ea3';" style="font-family: 'Roboto', sans-serif; display: block; background: #275ea3; padding: 5px 0; font-size: 18px; color: #fff; text-decoration: none;">Business</a>
                <small style="font-family: 'Roboto', sans-serif; padding: 0 5px; color: #fff; font-size: 13px; margin: 10px 0 20px 0; display: block;">Стоимость: <br>от 15 900 тг./ мес.<br>Стандартные услуги: <br>Бесплатная разработка сайта и его поддержка. <br>Гарантированный трафик от 400 целевых посетителей + все услуги тарифа classic.</small>
            </div>
            <div style="width: 25%; display: inline-block; margin: 25px 20px 0 20px">
                <a href="https://b-link.kz/tariffs" onmouseover="this.style.background='#20497c';" onmouseout="this.style.background='#275ea3';" style="font-family: 'Roboto', sans-serif; display: block; background: #275ea3; padding: 5px 0; font-size: 18px; color: #fff; text-decoration: none;">Premium</a>
                <small style="font-family: 'Roboto', sans-serif; padding: 0 5px; color: #fff; font-size: 13px; margin: 10px 0 20px 0; display: block;">Стоимость: <br>от 29 900 тг./ мес.<br>Стандартные услуги: <br>Индивидуальный просчет Вашего проекта<br>Гарантированный трафик более 1 000 целевых посетителей + все услуги тарифа Classic</small>
            </div>
        </div>
    </div>
    <div style="text-align: center; padding: 25px 0;">
        <img src="{host}/resources/callback/images/mail/logo.png" alt="">
    </div>
</div>