<div>
    <table>
        <tbody style="border-collapse: collapse; width: 300px; ">
        <tr style="border:solid 1px">
            <th style="border: 1px solid black;text-align: center; background: #fc0; height: 40px; vertical-align: bottom; padding: 0;">
                Значение поля
            </th>
            <th style="border: 1px solid black;text-align: center; background: #fc0; height: 40px; vertical-align: bottom; padding: 0;">
                Название поля
            </th>
        </tr>
        <tr>
            <td style="border: 1px solid black;text-align: center; background: #fff; vertical-align: bottom; padding: 0;">ФИО</td>
            <td style="border: 1px solid black;text-align: center; background: #fff; vertical-align: bottom; padding: 0;">{fullname}</td>
        </tr>
        <tr>
            <td style="border: 1px solid black;text-align: center; background: #fff; vertical-align: bottom; padding: 0;">Телефон</td>
            <td style="border: 1px solid black;text-align: center; background: #fff; vertical-align: bottom; padding: 0;">{phone}</td>
        </tr>

        </tbody>
    </table>
</div>