<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,700' rel='stylesheet' type='text/css'>
<div style="width: 820px; background: #fff;">
    <div style="background: #e8e8e8;">
        <div style="overflow: hidden; width: 85%; margin: 0 auto;">
            <img src="{host}/resources/callback/images/mail/phone.png" alt="" height="113px;" style="float: left; margin-top: 25px;">
            <h4 style="font-weight: normal; font-family: 'Roboto', sans-serif; float: left; font-size: 28px; padding: 0; margin: 25px 0 0 30px;">Клиент <br>просит Вас <br>ему перезвонить</h4>
        </div>
    </div>
    <div style="background: #275ea3; padding: 15px 0;">
        <div style="width: 80%; margin: 0 auto;">
            <div style="text-align: center;">
                <img src="{host}/resources/callback/images/mail/mini-phone.png" alt="">
            </div>
            <h2 style="font-weight: normal; margin-bottom: -15px; color: #fff; font-size: 24px; font-family: 'Roboto', sans-serif; text-align: center;">{fullname} запрашивает обратный звонок</h2>
            <p style="color: #fff; font-size: 18px; font-family: 'Roboto', sans-serif; text-align: center;"><span style="font-size: 13px; display: block; margin-bottom: -15px;">на номер</span> <br><strong style="font-weight: normal;"><a
                    href="tel:+{phone}" style="color: #fff; text-decoration: none; font-size: 26px;">+{phone}</a></strong></p>
        </div>
    </div>
    <div style="width: 70%; margin: 0 auto; text-align: center; padding: 15px 0;">
        <p style="font-family: 'Roboto', sans-serif; text-align: center; color: #000; font-size: 18px;"></p>
        <img src="{host}/resources/callback/images/mail/phone-after.png" alt="" style="margin: 15px 0 0 0;">
    </div>
    <div style="padding: 15px 0; background: #000;">
        <div style="width: 85%; margin: 0 auto; text-align: center;">
            <h3 style="font-family: 'Roboto', sans-serif; font-size: 18px; color: #fff; margin: 0; padding: 0;">Сервис предоставлен <a href="https://b-link.kz">b-link.kz</a></h3>
            <h4 style="font-family: 'Roboto', sans-serif; font-size: 14px; color: #fff; margin: 0; padding: 0;">Пакеты Услуг</h4>
            <div style="width: 25%; display: inline-block; margin: 25px 20px 0 20px">
                <a href="https://b-link.kz/tariffs" onmouseover="this.style.background='#20497c';" onmouseout="this.style.background='#275ea3';" style="font-family: 'Roboto', sans-serif; display: block; background: #275ea3; padding: 5px 0; font-size: 18px; color: #fff; text-decoration: none;">Classic</a>
                <small style="font-family: 'Roboto', sans-serif; padding: 0 5px; color: #fff; font-size: 13px; margin: 10px 0 20px 0; display: block;">Стоимость: <br>от 9 900 тг./ мес.<br>Стандартные услуги: <br>Бесплатная разработка сайта и его поддержка. <br>Seo наполнение. Мониторинг работоспособности сайта, резервное коппирование.</small>
            </div>
            <div style="width: 25%; display: inline-block; margin: 25px 20px 0 20px">
                <a href="https://b-link.kz/tariffs" onmouseover="this.style.background='#20497c';" onmouseout="this.style.background='#275ea3';" style="font-family: 'Roboto', sans-serif; display: block; background: #275ea3; padding: 5px 0; font-size: 18px; color: #fff; text-decoration: none;">Business</a>
                <small style="font-family: 'Roboto', sans-serif; padding: 0 5px; color: #fff; font-size: 13px; margin: 10px 0 20px 0; display: block;">Стоимость: <br>от 15 900 тг./ мес.<br>Стандартные услуги: <br>Бесплатная разработка сайта и его поддержка. <br>Гарантированный трафик от 400 целевых посетителей + все услуги тарифа classic.</small>
            </div>
            <div style="width: 25%; display: inline-block; margin: 25px 20px 0 20px">
                <a href="https://b-link.kz/tariffs" onmouseover="this.style.background='#20497c';" onmouseout="this.style.background='#275ea3';" style="font-family: 'Roboto', sans-serif; display: block; background: #275ea3; padding: 5px 0; font-size: 18px; color: #fff; text-decoration: none;">Premium</a>
                <small style="font-family: 'Roboto', sans-serif; padding: 0 5px; color: #fff; font-size: 13px; margin: 10px 0 20px 0; display: block;">Стоимость: <br>от 29 900 тг./ мес.<br>Стандартные услуги: <br>Индивидуальный просчет Вашего проекта<br>Гарантированный трафик более 1 000 целевых посетителей + все услуги тарифа Classic</small>
            </div>
        </div>
    </div>
    <div style="text-align: center; padding: 25px 0;">
        <img src="{host}/resources/callback/images/mail/logo.png" alt="">
    </div>
</div>