<div style="
    position: relative;
    float: left;
    background: #1f374f;
    padding: 8px;
    font-size: 15px;
    font-family: arial,sans-serif;
">
    <div style="min-width: 200px;background: #2b2b2b;color: #fff;min-height: 250px;max-width: 250px;position: relative;float: left;padding: 5px;margin: 5px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium adipisci aperiam architecto asperiores atque commodi, consequatur deleniti earum eius error ex expedita hic inventore iusto labore laboriosam maiores, nam natus nemo nobis possimus quaerat quasi quibusdam quo quod quos rem, repellendus saepe veritatis! A at cumque mollitia nobis tenetur.</div>
    <div style="
    max-width: 100%;
    float: left;
">
        <div style="min-width: 150px;background: #6e7274;color: #ffffff;padding: 7px;width: 100%;border-radius: 10px 15px 60px 10px;">
            <div>{name_title}</div>
            <div>{name}</div>
        </div>
        <hr>
        <div style="min-width: 150px;background: #6e7274;color: #ffffff;padding: 7px;width: 100%;border-radius: 10px 15px 60px 10px;">
            <div>{login_title}</div>
            <div>{login}</div>
        </div>
        <hr>
        <div style="min-width: 150px;background: #6e7274;color: #ffffff;padding: 7px;width: 100%;border-radius: 10px 15px 60px 10px;">
            <div>{email_title}</div>
            <div>{email}</div>
        </div>
        <hr>
        <div style="min-width: 150px;background: #6e7274;color: #ffffff;padding: 7px;width: 100%;border-radius: 10px 15px 60px 10px;">
            <div>{url_title}</div>
            <div><a href="{url}">{url}</a></div>
        </div>
        <hr>
    </div>
</div>