<section class="content-header">
    <h1>
        Список сайтов
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-th"></i> Список клиентов</a></li>
        <li class="active">Список сайтов</li>
    </ol>
</section>
<br>
<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-12">
            <!-- Box Comment -->
            <div class="box box-widget collapsed-box">
                <form ng-submit="AddSite()">
                    <div class="box-header with-border">
                        <h4 class="box-title">Добавить сайт</h4>
                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="form-group">
                            <label>Почта</label>
                            <input type="text" class="form-control" ng-model="mailerNewClientInfo.cc_mail" placeholder="example@exam.ex">
                        </div>
                        <div class="form-group">
                            <label>Название сайта</label>
                            <input type="text" class="form-control" ng-model="mailerNewClientInfo.name" placeholder="example.kz">
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer text-right">
                        <p class="pull-left" ng-if="newSiteMsg">Новый сайт был добавлен</p>
                        <button type="submit" class="btn btn-success btn-sm" data-dismiss="modal">Добавить</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
            <!-- /.box -->
        </div>
    </div>
</div>
<section class="content">
    <div class="box box-default collapsed-box" ng-repeat="(key, val) in sites">
        <div class="box-header with-border">
            <h3 class="box-title">Данные о сайте {{val.name }}</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                <!--button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button-->
            </div>
        </div><!-- /.box-header -->
        <div class="box-body">
            <div class="col-md-6">
                <div class="form-group">
                    <label>md5</label>
                    <input id="md5" class="form-control" type="text" placeholder="{{ val.md5 }}" readonly="readonly">
                </div><!-- /.form-group -->
                <div class="form-group">
                    <label>Название сайта</label>
                    <input id="name" class="form-control" value="blink.kz" type="text" placeholder="Название сайта" ng-model="val.name" readonly="readonly">
                </div>
                <div class="form-froup">
                    <label>Название компании</label>
                    <input id="company" class="form-control" type="text" placeholder="Название компании" ng-model="val.company" readonly="readonly">
                </div><!-- /.form-group -->
            </div><!-- /.col -->
            <div class="col-md-6">
                <div class="form-group">
                    <label>ID</label>
                    <input id="id" class="form-control" type="text" placeholder="ID" ng-model="val.id" readonly="readonly">
                </div><!-- /.form-group -->
                <div class="form-group">
                    <label>Адрес получателя</label>
                    <input id="cc_mail" class="form-control" type="text" placeholder="Адрес получателя" ng-model="val.cc_mail" readonly="readonly">
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <label>Email отправки</label>
                        <select class="form-control" ng-model="val.email" ng-options="email as email.login for email in emails track by email.id" readonly="readonly">
                        </select>
                    </div>
                </div>

                <div class="box-body collapsed-box" >

                </div><!-- /.box-body -->
                <!-- /.form-group -->
            </div><!-- /.col -->
            <div class="col-md-12">
                <h4 class="box-title">Операторы сайта</h4>
                <div class="row">
                    <div class="col-md-6" ng-repeat="(key1, val1) in sites[key].operators">
                <div class="box box-widget collapsed-box">
                    <div class="box-header with-border">
                        <input id="approve{{val1.id}}" class="checkbox-switch" name="approve" type="checkbox" placeholder="ID" ng-change="operatorApr(val1.id,val1.approve,val.name);" ng-model="val1.approve">
                        <label for="approve{{val1.id}}" >{{ val1.display_name }}</label>
                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Имя оператора</label>
                                <input id="display_name" class="form-control" type="text" placeholder="{{ val1.display_name }}" readonly="readonly">
                            </div><!-- /.form-group -->
                            <div class="form-group">
                                <label>Телеграм ID</label>
                                <input id="telegramm_id" class="form-control" value="blink.kz" type="text" placeholder="Название сайта" ng-model="val1.telegramm_id" readonly="readonly">
                            </div>
                            <div class="form-froup">
                                <label>ID Оператора</label>
                                <input id="operator_id" class="form-control" type="text" placeholder="Название компании" ng-model="val1.id" readonly="readonly">
                            </div><!-- /.form-group -->
                        </div>
                    </div>
                </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" ng-if="hostSettingsVisibility">
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>SMTP шлюз</label>
                            <input class="form-control" type="text" placeholder="SMTP шлюз" ng-model="hostSettings.host">
                        </div>
                        <div class="form-group">
                            <label>Логин</label>
                            <input class="form-control" type="text" placeholder="Логин" ng-model="hostSettings.login">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Пароль</label>
                            <input class="form-control" type="text" placeholder="Пароль" ng-model="hostSettings.password">
                        </div>
                        <div class="form-group">
                            <label>Порт</label>
                            <input class="form-control" type="text" placeholder="Порт" ng-model="hostSettings.port">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="text-right">
                    <button class="btn btn-default btn-sm" ng-if="!siteSettings" ng-click="removeHosts(val.id)"><i class="fa fa-remove"></i></button>
                    <button class="btn btn-default btn-sm" ng-if="!siteSettings" ng-click="editHosts(val.email.id)"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-default btn-sm" ng-if="!siteSettings" ng-click="addNewHost()"><i class="fa fa-plus"></i></button>
                </div>
            </div>

        </div><!-- /.box-body -->

        <div class="box-footer">
            <div class="col-md-12 text-right">
                <a href="#/mailer-settings/{{val.id}}" class="btn btn-primary btn-sm">Настройка</a>
            </div>
        </div><!-- /.box -->
</section>