<div class="modal-content">
    <div class="modal-header black">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{locale.Programmers_dream_name}}</h4>
    </div>
    <div class="modal-body">
        <form ng-submit="dreamSubmit()">
            <div class="form-group">
                <label for="nameOfModal">{{locale.Programmers_nameofmodal}}</label>
                <input type="text" class="form-control" id="nameOfTtype" placeholder="{{locale.Programmers_nameofmodal}}" ng-model="dreamData['name']">
            </div>
            <div class="form-group">
                <label for="descriptionOfModal">{{locale.Programmers_dream_content}}</label>
                <textarea class="form-control" id="descriptionOfModal" placeholder="Описание" ng-model="dreamData['text']"></textarea>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="dreamData['anon']" ng-true-value="1" ng-false-value="0"> {{locale.Programmers_dream_anonim}}
                </label>
            </div>
            <button type="submit" class="btn btn-default">{{locale.Programmers_dream_send}}</button>
        </form>
    </div>
</div>