<div class="popup-dialog-bg" ng-show="popupDialogVisibility">
    <div class="popup-dialog-content" id="popup-dialog-content">
        <div>
            <h4>{{popupDialogQuestion}}</h4>
            <hr>
        </div>
        <div class="form-group hidden text-center" id="imagePreviewUrl" ng-show="imagePreviewUrl">
            <img src="{{imagePreviewUrl}}" alt="" err-src="images/icons/mimes/default.png" style="height: 150px;" class="img-thumbnail">
            <hr>
        </div>
        <button class="btn btn-primary pull-left" ng-click="confirmedPopupDialog()">{{locale.Programmers_popup_yes}}</button>
        <button class="btn btn-danger pull-right" ng-click="hidePopupDialog()">{{locale.Programmers_popup_no}}</button>
    </div>
</div>