<div class="modal-body">
	<div><h4>{{locale.Programmers_new_comment}}</h4></div>
	<div>
	    <a href="#" data-target="#myCarousel" data-slide-to="0" class="btn btn-primary">{{locale.Programmers_back_to_projectDetails}}</a>
	</div>
	<br>
	<hr>
	<div id="addCommentDiv">
		<label>{{locale.Programmers_new_comment}}:</label>
		<div class="form-group" ng-repeat="val in projectComments track by $index">
			<small>{{val.user_name}} ({{val.date}})</small>
			<br>
			<p>{{val.message}}</p>
		</div>
	</div>
	<div class="form-group textarea-block">
		<button type="button" class="btn blue btn-sm textarea-submit" add-comment="{{projectDetail['id']}}">Отправить</button>
		<textarea class="form-control" rows="5" ng-model="addedComment"></textarea>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-danger" data-dismiss="modal">{{locale.Programmers_close}}</button>
</div>