<div class="modal-body">
    <div><h4>{{locale.Programmers_bug_report}}</h4></div>
    <div>
        <a href="#" data-target="#myCarousel" data-slide-to="0" class="btn btn-primary">{{locale.Programmers_back_to_projectDetails}}</a>
    </div>
    <br>
    <div ng-if="projectBackreport.length > 0">
        <hr>
        <div>
            <h3>{{locale.Programmers_project_name}} <small>{{ projectDetail.name }}</small></h3>
            <div class="row filter-buttons">
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        <label for="forDesign" type="button" class="btn btn-default">{{locale.Programmers_designer}} <input type="checkbox" id="forDesign" ng-model="filterValue" ng-true-value="3" ng-false-value=""></label>
                    </div>
                    <div class="btn-group" role="group">
                        <label for="forWebdev" type="button" class="btn btn-default">{{locale.Programmers_webmaster}} <input type="checkbox" id="forWebdev" ng-model="filterValue" ng-true-value="4" ng-false-value=""></label>
                    </div>
                    <div class="btn-group" role="group">
                        <label for="forPragram" type="button" class="btn btn-default">{{locale.Programmers_programmer}} <input type="checkbox" id="forPragram" ng-model="filterValue" ng-true-value="7" ng-false-value=""></label>
                    </div>
                </div>
            </div>
            <div class="row filter-buttons">
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        <label for="forDesign1" type="button" class="btn btn-default">{{locale.Programmers_fixed_bugs}}<input type="checkbox" id="forDesign1" ng-model="filterValue2" ng-true-value="1" ng-false-value="0"></label>
                    </div>
                </div>
            </div>
            <!-- accordion -->
            <div class="panel panel-default" ng-repeat="(key, val) in projectBackreport | filter: {to:filterValue, finish:filterValue2}">
                <div class="panel-heading panel-title" data-toggle="collapse" href="#titleCol{{val.id}}" style="cursor: pointer;">{{val.title}}</div>
                <div id="titleCol{{val.id}}" class="collapse">
                    <div style="padding: 10px;">
                        <p>{{val.message}}</p>
                        <h5>{{locale.Programmers_list_files_errors}}</h5>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <a href=""></a>
                                <ul class="chatbox">
                                    <li class="chatbox-from"  ng-repeat="(key1, val1) in val.node" ng-if="val1.iselement">
                                        <div class="tester_info">{{val1.user_name}} | {{val1.date}}</div>
                                        <div ng-bind-html="val1.iselement"></div>
                                    </li>
                                    <li class="chatbox-to"  ng-repeat="(key1, val1) in val.node" ng-if="val1.to === '8'">
                                        <div class="user_info">{{val1.user_name}} | {{val1.date}}</div>
                                        {{val1.message}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>  Добавить файлы
                        </button-->
                        <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#collapse-answer{{val.id}}">
                            Ответить
                        </button>
                        <br>
                        <div id="collapse-answer{{val.id}}" class="collapse">
                            <div class="form-group">
                                <!--label for="usr">Заголовок:</label>
                                <input type="text" class="form-control" id="usr"-->
                                <label>{{locale.Programmers_new_comment}}:</label>
                                <textarea class="form-control" rows="5" ng-model="bugTrackerMessage"></textarea>
                            </div>
                            <!--button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>  Прикрепить файл
                            </button-->
                            <button type="button" class="btn btn-default" ng-click="updateBugTracker(bugTrackerMessage, val.id, 8, projectDetail.id, val.id)">
                                {{locale.Programmers_send_project}}
                            </button>
                            <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#collapse-answer{{val.id}}">
                                {{locale.Programmers_close}}
                            </button>
                        </div>
                    </div>
                </div>
            </div><!-- accordion end -->
        </div>
        <hr>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal">{{locale.Programmers_close}}</button>
</div>