<div class="modal-content">
    <div class="modal-header black">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 ng-if="!Dreport" class="modal-title">{{locale.Programmers_user_report}}</h4>
        <h4 ng-if="Dreport" class="modal-title">{{locale.Programmers_report_department}}</h4>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group col-md-6">
                <label>{{locale.Programmers_intervalfrom}}</label>
                <input type="text" class="form-control" id="datetimepicker1" ng-model="slaveTo" placeholder="{{locale.Programmers_choose_datefrom}}">
            </div>
            <div class="form-group col-md-6">
                <label>{{locale.Programmers_intervalto}}</label>
                <input type="text" class="form-control" id="datetimepicker2" ng-model="slaveDo" placeholder="{{locale.Programmers_choose_dateto}}">
            </div>
            <div class="col-md-12" style="overflow: hidden">
                <hr>
                <div id="chartContainer" style="height: 300px; width: 100%;"></div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" ng-if="!Dreport" class="btn btn-success pull-right" ng-click="slaveReport()">{{locale.Programmers_ReportSend}}</button>
        <button type="submit" ng-if="Dreport" class="btn btn-success pull-right" ng-click="getReportDepartment()">{{locale.Programmers_ReportSend}}</button>
    </div>
</div>

<script>
    $('#datetimepicker1').datetimepicker({
        format: ' Y-m-d H:i'
    });
    $('#datetimepicker2').datetimepicker({
        format: ' Y-m-d H:i'
    });
</script>