.blink-cb-module-container {
    font-family: 'Roboto Condensed', sans-serif;
}

.blink-cb-module-container * {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    line-height: 1;
}

.blink-cb-module-container input, textarea {
    font-size: 14px;
}

.blink-cb-module-container * a {
    text-decoration: none;
}
.blink-cb-module-container * a:hover {
    text-decoration: none;
}
.blink-cb-module-container ul {
    list-style: none;
}

.blink-cb-module-main-body {
    position: fixed;
    width: 360px;
    height: 100%;
    background-color: #393f48;
    right: 0;
    top: 0;
    border-left: 32px solid;
    border-color: #434a54;
    padding: 30px 0;
    color: #e2e3e7;
    display: none;
}

.blink-cb-module-main-body.not-fixed {
    position: absolute;
    z-index: 2;
    display: block;
}

.blink-cb-module-main-body .blink-cb-module-main-body-container {
    position: relative;
    width: 250px;
    margin: 0 auto;
}
.blink-cb-module-main-body .blink-cb-module-main-body-container .blink-cb-module-exit-body-btn {
    position: absolute;
    color: #e2e3e7;
    top: -20px;
    left: -60px;
}
.blink-cb-module-main-body .blink-cb-module-main-body-container .blink-cb-module-main-body-header-btns {
    text-align: center;
}

.blink-cb-module-main-body .blink-cb-module-main-body-container .blink-cb-module-main-body-header-btns li {
    text-align: center;
    display: inline-block;
    margin: 0 10px;
}
.blink-cb-module-main-body .blink-cb-module-main-body-container .blink-cb-module-main-body-header-btns li a {
    color: #e2e3e7;
    font-size: 24px;
}
.blink-cb-module-main-body .blink-cb-module-main-body-container .blink-cb-module-main-body-header-btns li a i {
    display: block;
}
.blink-cb-module-main-body .blink-cb-module-main-body-container .blink-cb-module-main-body-header-btns li a span {
    display: block;
    font-size: 12px;
    margin: 6px 0 0 0;
    text-transform: uppercase;
}
.blink-cb-module-main-body .blink-cb-module-main-body-container .blink-cb-module-main-body-header-btns li.active a {
    color: #cf5664;
}
.blink-cb-module-main-body .blink-cb-module-main-body-container .blink-cb-module-main-body-header-btns li:hover a {
    color: #cf5664;
}
.blink-cb-module-main-body .blink-cb-module-flip-container {
    -webkit-perspective: 1000;
    perspective: 1000;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    width: 100%;
    text-align: center;
    display: none;
}
.blink-cb-module-main-body .blink-cb-module-flip-container .blink-cb-module-flipper {
    -webkit-transition: 0.6s;
    transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
    width: 100%;
    top: 50%;
}
.blink-cb-module-main-body .blink-cb-module-flip-container .blink-cb-module-flipper .blink-cb-module-flip-front, .blink-cb-module-main-body .blink-cb-module-flip-container .blink-cb-module-flipper .blink-cb-module-flip-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.blink-cb-module-main-body .blink-cb-module-flip-container .blink-cb-module-flipper .blink-cb-module-flip-front {
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
.blink-cb-module-main-body .blink-cb-module-flip-container .blink-cb-module-flipper .blink-cb-module-flip-front h4 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 40px;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
}
.blink-cb-module-main-body .blink-cb-module-flip-container .blink-cb-module-flipper .blink-cb-module-flip-front form input[type=text], .blink-cb-module-main-body .blink-cb-module-flip-container .blink-cb-module-flipper .blink-cb-module-flip-front form textarea {
    margin-top: 7px;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 5px;
    border: 2px solid;
    border-color: #e2e3e7;
    color: #e2e3e7;
    background-color: #434a54;
    width: 100%;
}
.blink-cb-module-main-body .blink-cb-module-flip-container .blink-cb-module-flipper .blink-cb-module-flip-front form textarea {
    padding: 7px;
}
.blink-cb-module-main-body .blink-cb-module-flip-container .blink-cb-module-flipper .blink-cb-module-flip-front form input[type=text] {
    height: 40px;
    padding: 0 7px;
}
.blink-cb-module-main-body .blink-cb-module-flip-container .blink-cb-module-flipper .blink-cb-module-flip-front form input[type=submit] {
    margin-top: 7px;
    background-color: #cf5664;
    border: none;
    height: 40px;
    cursor: pointer;
    padding: 0 15px;
    border-radius: 5px;
    color: #e2e3e7;
    font-family: 'Roboto Condensed', sans-serif;
}
.blink-cb-module-main-body .blink-cb-module-flip-container .blink-cb-module-flipper .blink-cb-module-flip-front form input[type=submit]:hover {
    background-color: #a7424e;
}
.blink-cb-module-main-body .blink-cb-module-flip-container .blink-cb-module-flipper .blink-cb-module-flip-front small {
    display: block;
    margin-top: 20px;
}
.blink-cb-module-main-body .blink-cb-module-flip-container .blink-cb-module-flipper .blink-cb-module-flip-back {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}
.blink-cb-module-main-body .blink-cb-module-flip-container .blink-cb-module-flipper .blink-cb-module-flip-back .blink-cb-module-messange-box {
    width: 100%;
    padding: 40px 20px 20px 20px;
    border: 2px solid;
    border-color: #eee;
    position: relative;
    text-align: center;
    border-radius: 5px;
}
.blink-cb-module-main-body .blink-cb-module-flip-container .blink-cb-module-flipper .blink-cb-module-flip-back .blink-cb-module-messange-box a {
    position: absolute;
    top: 10px;
    right: 10px;
}
.blink-cb-module-main-body .blink-cb-module-flip-container .blink-cb-module-flipper .blink-cb-module-flip-back .blink-cb-module-messange-box button {
    border: none;
    background-color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: #e2e3e7;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 20px;
}
.blink-cb-module-main-body .blink-cb-module-flip-container .blink-cb-module-flipper .blink-cb-module-flip-back .blink-cb-module-success-messange {
    color: #3c763d;
    background-color: #e2e3e7;
    display: none;
}
.blink-cb-module-main-body .blink-cb-module-flip-container .blink-cb-module-flipper .blink-cb-module-flip-back .blink-cb-module-success-messange a {
    color: #3c763d;
}
.blink-cb-module-main-body .blink-cb-module-flip-container .blink-cb-module-flipper .blink-cb-module-flip-back .blink-cb-module-success-messange button {
    background-color: #3c763d;
}
.blink-cb-module-main-body .blink-cb-module-flip-container .blink-cb-module-flipper .blink-cb-module-flip-back .blink-cb-module-error-messange {
    color: #a94442;
    background-color: #e2e3e7;
    display: none;
}
.blink-cb-module-main-body .blink-cb-module-flip-container .blink-cb-module-flipper .blink-cb-module-flip-back .blink-cb-module-error-messange a {
    color: #a94442;
}
.blink-cb-module-main-body .blink-cb-module-flip-container .blink-cb-module-flipper .blink-cb-module-flip-back .blink-cb-module-error-messange button {
    background-color: #a94442;
}
.blink-cb-module-main-body .blink-cb-module-flip-container.active {
    display: block;
}
.blink-cb-module-main-body .blink-cb-module-flip-container.active-flip .blink-cb-module-flip-back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
.blink-cb-module-main-body .blink-cb-module-flip-container.active-flip .blink-cb-module-flip-front {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.blink-cb-module-main-body #blink-cb-module-popup-recall {
    margin-top: 50%;
}
.blink-cb-module-main-body #blink-cb-module-popup-messange {
    margin-top: 30%;
}
.blink-cb-module-main-body.active {
    display: block;
}

.blink-cb-module-main-btns {
    position: fixed;
    right: 30px;
    bottom: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    z-index: 99999;
    color: #e2e3e7;
    display: none;
}

.blink-cb-module-main-btns.not-fixed {
    position: absolute;
    right: 380px;
    top: 20px;
    z-index: 2;
}

.blink-cb-module-main-btns a {
    color: #e2e3e7;
}
.blink-cb-module-main-btns .blink-cb-module-btns-container {
    position: relative;
    height: 80px;
    width: 80px;
}
.blink-cb-module-main-btns .blink-cb-module-btns-container .blink-cb-module-main-btn-container {
    width: 80px;
    height: 80px;
    background-color: #393f48;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
}
.blink-cb-module-main-btns .blink-cb-module-btns-container .blink-cb-module-main-btn-container .blink-cb-module-main-btn {
    text-align: center;
    font-size: 40px;
    padding-top: 21px;
}
.blink-cb-module-main-btns .blink-cb-module-btns-container .blink-cb-module-other-btn-container {
    position: absolute;
    width: auto;
    height: 40px;
    right: 80px;
    top: 20px;
    padding: 2.5px 0 0 0;
}
.blink-cb-module-main-btns .blink-cb-module-btns-container .blink-cb-module-other-btn-container li {
    float: right;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    background-color: #393f48;
    text-align: center;
    font-size: 15px;
    padding: 9px 0 0 0;
    margin: 0 7px 0 0;
    cursor: pointer;
}
.blink-cb-module-main-btns .blink-cb-module-btns-container .blink-cb-module-other-btn-container.hidden {
    display: none;
}
.blink-cb-module-main-btns.active {
    display: block;
}


@media (max-width: 720px) {
    .blink-cb-module-main-body {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 720px) {
    .blink-cb-module-main-body {
        width: 100%;
        height: 100%;
    }
    .blink-cb-module-main-body {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 720px) {
    .blink-cb-module-main-body {
        width: 100%;
        height: 100%;
    }
}

